*.jar
*.class

######################
# Eclipse
######################
 
*.pydevproject
.metadata
#.project
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
#.classpath
#sysProps.xml
.settings/
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
